.groupButtons {
  display: flex;
  width: fit-content;
}

.buttonAction {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  text-transform: uppercase;
  font: 500 14px Roboto, sans-serif;
  background: transparent;
  padding: 0px 16px;

  cursor: pointer;
}

.buttonAction:first-child {
  padding: 0px 16px 0px 0px;
  border-right: 1px solid var(--color-border);
}
